<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @user.username.capitalize %></dd>

  <dt>Dish</dt>
  <dd><%= @dish.name %></dd>

  <dt>Venue</dt>
  <dd><%= @venue.name %></dd>

  <dt>Notes</dt>
  <dd><%= @favorite.notes %></dd>

  <dt>Favorite Dishes</dt>
  <dd>
    <ul>
    <% @fav_dishes.each do |fav| %>
    <% dish = Dish.find(fav.dish_id) %>
    <% venue = Venue.find(fav.venue_id) %>
      <li><%= dish.name %> @ <%= venue.name %></li>
    <% end %>
    </ul>
  </dd>

</dl>
